@model IEnumerable<Donatime.DataLayer.Estado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais.nombrePais)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreEstado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais.nombrePais)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idEstado }) |
            @Html.ActionLink("Details", "Details", new { id=item.idEstado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idEstado })
        </td>
    </tr>
}

</table>
