@model Donatime.ViewModels.VoluntarioCreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Voluntario", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Voluntario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.perfilImagen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.perfilImagen, new { type = "file", accept = ".jpg,.png,.gif,.bmp,.jpeg", @class = "form-control-file" })
                @Html.ValidationMessageFor(model => model.perfilImagen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.voluntario.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.voluntario.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.voluntario.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.voluntario.municipio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.voluntario.municipio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.voluntario.municipio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.voluntario.comunidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.voluntario.comunidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.voluntario.comunidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.voluntario.colonia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.voluntario.colonia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.voluntario.colonia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.voluntario.direccion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.voluntario.direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.voluntario.direccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.voluntario.numTelOficina, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.voluntario.numTelOficina, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.voluntario.numTelOficina, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.voluntario.numCelular, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.voluntario.numCelular, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.voluntario.numCelular, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col">
            @Html.LabelFor(model => model.voluntario.idEstado, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(model => model.voluntario.idEstado, Model.estado.Select(x => new SelectListItem()
                       { Value = "" + x.idEstado, Text = x.nombreEstado }), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.voluntario.idEstado, "", new { @class = "text-danger" })
        </div>

        <div class="col">
            @Html.LabelFor(model => model.voluntario.idEscolaridad, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(model => model.voluntario.idEscolaridad, Model.escolaridad.Select(x => new SelectListItem()
                       { Value = "" + x.idEscolaridad, Text = x.nombreEscolaridad }), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.voluntario.idEscolaridad, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Unirse" class="btn btn-primary" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index", "Home")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
