@model IEnumerable<Donatime.DataLayer.Ranking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cantidadHoras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actividad.nombreActividad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voluntario.imagenPerfil)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadHoras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actividad.nombreActividad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voluntario.imagenPerfil)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idRanking }) |
            @Html.ActionLink("Details", "Details", new { id=item.idRanking }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idRanking })
        </td>
    </tr>
}

</table>
