<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/Resources/Img/logo.png" />

    <title>
        Donatime @ViewBag.Title
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Donatime", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Nosotros", "About", "Home")</li>
                    <li>@Html.ActionLink("Ranking", "Create", "Ranking")</li>

                    @*<li>@Html.ActionLink("Mision", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div>
                <h4>Contacto</h4>
                <a title="Facebook" href="https://www.facebook.com/Donatime-361973417860207/">
                <img src="~/Resources/Img/rs_facebook.jpg" />
                </a>
                <a title="Facebook" href="https://www.instagram.com/donatimehoy1/">
                    <img src="~/Resources/Img/rs_instagram.jpg" />
                </a>
                <a title="Facebook" href="https://www.facebook.com/Donatime-361973417860207/">
                    <img src="~/Resources/Img/rs_twitter.jpg" />
                </a>
                <a title="Facebook" href="https://www.facebook.com/Donatime-361973417860207/">
                    <img src="~/Resources/Img/rs_watsapp.jpg" />
                </a>
               
                
                <p>&copy; @DateTime.Now.Year</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
