@model IEnumerable<Donatime.DataLayer.Sponsor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numTelefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rfc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actividad.nombreActividad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numTelefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rfc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actividad.nombreActividad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idSponsor }) |
            @Html.ActionLink("Details", "Details", new { id=item.idSponsor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idSponsor })
        </td>
    </tr>
}

</table>
